/***********Navbar Styling************/
.navbar-main {
  display: flex;
  justify-content: flex-start;
  height: 6rem;
  background-color: $color-primary-dark;
  color: $color-white;

  &__logo {
    width: 4rem;
    height: 4rem;
  }

  &__text {
    margin-left: 1rem;
  }
}
